// http://ionicframework.com/docs/theming/
@import "~@ionic/angular/css/core.css";
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

body {
  font-size: 16px;
  line-height: 1em;
  background: linear-gradient(to bottom, #663399 50%, white 50%);

  ion-app.ion-page {
    margin: 1em;
    box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.1),
      0 10px 10px 0 rgba(0, 0, 0, 0.01);
    ion-toolbar {
      border: none;
      background: #fff;
      box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.1),
        0 10px 10px 0 rgba(0, 0, 0, 0.01);
      ion-title {
        font-weight: normal;
        font-size: 1em;
        color:  #663399;
      }
    }
  }
}
